/* Your existing CSS */
.atp-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  margin-top: 2.6vw;
  justify-content: start;
  align-items: start;
}

.atp {
  width: 100%;
  cursor: default;
  font-family: "Helvetica", "Arial", sans-serif;
}

.atp-background-color {
  background-color: #1f487c;
  position: absolute;
  right: 4vw;
  z-index: -1000;
  margin-top: 5.5vw;
}

.atp-color--primary {
  background-color: #f7a13d;
}

.atp-time {
  color: white;
  font-size: 350%;
  padding: 0.3em;
  text-align: center;
}

.atp-clock-cnt {
  padding: 2em 1em 1em 1em;
  display: flex;
}

.atp-clock {
  width: 100%;
  position: relative;
  user-select: none;
  border: 10px double white;
  border-radius: 50%;
}

.atp-face {
  border-radius: 100%;
}

.atp-clock > * {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.atp-face-color {
  background-color: rgb(238, 238, 238);
  border: 40px solid #ffffff;
}

.atp-h-cnt-cnt {
  display: flex;
  align-items: center;
}

.atp-number-color {
  color: #1f487c;
  font-weight: 600;
  font-size: 1vw;
}

.atp-ns {
  transform: scale(1);
  transition: transform 0.3s, opacity 0.05s;
  display: flex;
}

.atp-h-cnt-cnt-dot {
  justify-content: center;
}

.atp-h-cnt {
  height: 1.65em;
  display: flex;
  transition: transform 0.1s;
  transform-origin: 100% 50%;
  width: 50%;
  align-items: center;
  transform: rotate(1.5708rad);
}

.atp-clock-btn {
  padding-top: 1vw;
  padding-left: 1vw;
  display: block;
}

.atp-time {
  color: white;
  font-size: 24px;
  padding: 0.3em;
  text-align: center;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.atp-time .atp-ampm {
  font-size: 200%;
  display: flex;
}

.atp-time .atp-ampm .atp-am,
.atp-time .atp-ampm .atp-pm {
  padding: 0px 10px;
  font-weight: 600;
  font-size: 1.2vw;
}

.atp-clock-btn .atp-button {
  width: 100px;
  margin: 5px 0px 10px 0px;
  border-radius: 20px;
  text-transform: capitalize;
}

.atp-clock-btn .atp-button.atp-ok {
  background-color: #f7a13d;
  color: #ffffff;
}

.atp-clock-btn .atp-button.atp-cancel {
  background-color: #fff;
  color: #f7a13d;
  border-color: transparent;
  margin-top: 1.5vw;
}

.atp-clock-cnt {
  padding: 0em 1em 1em 1em;
}

.atp.atp-background-color {
  border-radius: 1vw;
}

.atp-hour.atp-focus,
.atp-minute.atp-focus {
  color: #f7a13d;
}

button.atp-enforce-font-size {
  font-size: 100%;
  min-width: 0;
  color: white;
  flex-flow: row;
  margin-left: 10%;
  border: 2px solid #f7a13d;
}

.atp-button--primary {
  color: rgb(0, 252, 227);
}

.atp-button {
  background: 0 0;
  border-radius: 2px;
  color: #000;
  position: relative;
  height: 36px;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1vw;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
