.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border: 10px;
  margin: 0 0 5px;
  padding: 0;
  width: 100%;
}

.react-tabs__tab {
  display: inline-block;
  /* border: 1px solid;
  border-left: 1px;
  border-top: 1px;
  border-right: 1px; */
  border-color: white;
  width: 15vw;
  position: relative;
  list-style: none;
  padding: 5px 5px;
  cursor: pointer;
  &.react-tabs__tab--selected {
    background: #141414;
    color: #141414;
    border: transparent;
    border-radius: 100px 100px 100px 100px;
  }
  &:focus {
    outline: none;
    &:after {
      content: "";
      position: absolute;
      height: 5px;
      left: -4px;
      right: -4px;
      bottom: -5px;
    }
  }
  &.react-tabs__tab--disabled {
    color: gray;
    cursor: default;
  }
  &.react-tabs__tab-panel--selected {
    display: block;
  }
}
