.hero {
  height: 32vw;
  width: 100%;
  /* background-image: url("../../assets/bg.jpg"); */
  background-size: cover;
  /* background-position: bottom; */
  position: relative;
  overflow-x: hidden;
  /* background-color: #7ec3f2; */
  background-image: url("../../assets/BackgroundSky1.png");
  background-size: contain;
  /* padding-top: 6vh; */
}
.homesky {
  height: 10vw;
  width: 100%;
  /* background-image: url("../../assets/bg.jpg"); */
  background-size: cover;
  /* background-position: bottom; */
  position: relative;
  overflow-x: hidden;
  /* background-color: #7ec3f2; */
  background-image: url("../../assets/BackgroundSky1.png");
  background-size: contain;
  /* padding-top: 6vh; */
}
.bg_build1 {
  height: 85%;
  width: 1000%;
  display: block;
  /* background-image: url("../../assets/bg_build1.png"); */
  /* background-image: url("../../assets/sample1.png"); */
  background-image: url("../../assets/bgimage.png");
  position: absolute;
  left: 0;
  /* right: 0; */
  bottom: 3vw;
  /* z-index: 1; */
  animation: bg_build1 50s linear infinite;
  background-repeat: repeat-x;
  /* background-size: fill; */
  background-size: contain;
  background-position: bottom;
}
.bg_build2 {
  height: 37%;
  width: 1000%;
  display: block;
  /* background-image: url("../../assets/bg_build2.png"); */
  /* background-image: url("../../assets/sample1.png"); */
  background-image: url("../../assets/full1.png");
  position: absolute;
  left: 0;
  /* right: 0; */
  bottom: 0;
  /* z-index: 1; */
  animation: bg_build2 25s linear infinite;
  background-repeat: repeat-x;
  /* background-size: fill; */
  background-size: contain;
  background-position: bottom;
}
.build_1 {
  height: 90%;
  width: 200%;
  /* background-image: url("../../assets/bg_build1.png"); */
  background-image: url("../../assets/bgimage.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: 0;
  left: 0;
  /* z-index: 1; */
  animation: build_1 15s linear infinite;
}
.car1 {
  height: 35%;
  width: 200%;
  background-image: url("../../assets/ambulance.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: -1.5vh;
  left: 0;
  /* z-index: 1; */
  animation: car1 10s linear infinite;
}
.flight {
  height: 40%;
  width: 100%;
  /* background-image: url("../../assets/flight1.png"); */
  background-image: url("../../assets/flight5.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  top: -1.8vw;
  left: 0;
  transform: rotate(-90deg);
  rotate: -3deg;
  /* opacity: 60%; */
  /* z-index: 1; */
  animation: flight 15s linear infinite;
}
.cloud1 {
  height: 100%;
  width: 100%;
  background-image: url("../../assets/passingclouds1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  top: -15vw;
  left: 0;
  opacity: 60%;
  /* z-index: 1; */
  animation: cloud1 50s linear infinite;
}
.cloudhome {
  height: 100%;
  width: 100%;
  background-image: url("../../assets/passingclouds1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0vw;
  left: 0;
  opacity: 60%;
  overflow: hidden;
  /* z-index: 1; */
  animation: cloudhome 50s linear infinite;
}
.cloud2 {
  height: 30%;
  width: 100%;
  background-image: url("../../assets/cloud2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  top: 1vw;
  left: 0;
  opacity: 50%;
  /* z-index: 1; */
  animation: cloud2 30s linear infinite;
}
.cloud3 {
  height: 30%;
  width: 100%;
  background-image: url("../../assets/cloud3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  top: 1vw;
  left: 0;
  opacity: 50%;
  /* z-index: 1; */
  animation: cloud3 30s linear infinite;
}
.cloud4 {
  height: 30%;
  width: 100%;
  background-image: url("../../assets/cloud4.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  top: 1vw;
  left: 0;
  opacity: 50%;
  /* z-index: 1; */
  animation: cloud4 30s linear infinite;
}
.bike {
  height: 22%;
  width: 100%;
  background-image: url("../../assets/bike.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: -1vh;
  left: 0;
  /* z-index: 1; */
  animation: car1 20s linear infinite;
}
.letter {
  animation: letter 10s linear infinite;
  background-repeat: repeat-x;
  display: flex;
}

.vehicle-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.ambulance {
  height: 30%;
  width: 100%;
  background-image: url("../../assets/ambulance.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: 0;
  left: 0;
  /* z-index: 1; */
  animation: ambulance 15s linear infinite;
}
.ice {
  height: 35%;
  width: 100%;
  background-image: url("../../assets/ice.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: 0;
  left: 0;
  /* z-index: 1; */
  animation: ice 17s linear infinite;
}
.car {
  height: 25%;
  width: 100%;
  background-image: url("../../assets/car1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: 2vh;
  left: 0;
  /* z-index: 1; */
  animation: car 30s linear infinite;
}
.scooter {
  height: 22%;
  width: 80%;
  background-image: url("../../assets/scooter.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: 3vh;
  left: 0;
  /* z-index: 1; */
  animation: scooter 35s linear infinite;
}

.bus1 {
  height: 33%;
  width: 80%;
  background-image: url("../../assets/bus1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: 2vh;
  left: 0;
  /* z-index: 1; */
  animation: bus1 20s linear infinite;
}
.dubleducker {
  height: 33%;
  width: 100%;
  background-image: url("../../assets/doubleducker.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: -1vh;
  left: 0;
  /* z-index: 1; */
  animation: dubleducker 11.5s linear infinite;
  /* margin-top: 20vh; */
}
.auto {
  height: 25%;
  width: 100%;
  background-image: url("../../assets/auto.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: 0;
  left: 0;
  /* z-index: 1; */
  animation: auto 35s linear infinite;
}

.vehicle-container_nodatabus {
  position: relative;
  overflow: hidden;
  width: 99%;
  height: 100%;
}

.nodatabus {
  height: 10vw;
  width: 100%;
  background-image: url("../../assets/bus1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: 7vh;
  left: 0;
  animation: nodatabus 10s linear infinite; /* Double the animation duration to allow for the pause */
}

@keyframes nodatabus {
  0% {
    transform: translateX(-100%);
  }
  45%,
  55% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes ambulance {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes scooter {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes ice {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes car {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes bus1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes dubleducker {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes auto {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes car1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes bg_build1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes bg_build2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes car1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes build_1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes letter {
  0% {
    transform: translateX(-2400px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes cloud1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes cloudhome {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes cloud2 {
  0% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes cloud3 {
  0% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes cloud4 {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes flight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);

  }
}
