.container {
  position: relative;
  width: 100vw;
  height: 100vh; /* Full height of the viewport */
  overflow: hidden; /* Prevent overflowing content */
  background-color: #e5fff1;
}

.scrolling-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/Grouplogos.png"); /* Replace with your image */
  background-size: cover; /* Ensure the image covers the entire container */
  /* background-position: center; Center the background image */
  background-repeat: no-repeat; /* Avoid repeating */
  animation: scroll-loop 15s linear infinite; /* Smooth, infinite scroll */
  mix-blend-mode: multiply; /* Blend with background color */
  filter: blur(1px) opacity(0.5); /* Apply blur and 50% opacity */
  background-color: #e5fff1;
  filter: blur(5px);
  -webkit-filter: blur(5px); /* For Safari */
  overflow: hidden; /* Prevent overflowing content */
}

.lens {
  position: absolute;
  top: 45%;
  left: 88%;
  width: 100%;
  height: 50%; /* Maintain aspect ratio */
  background-image: url("../../assets/lens.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2; /* Ensure it's on top of all other elements */
  transform: translate(-50%, -50%);
}
.bobble {
  position: absolute;
  top: 40%;
  left: 69.5%;
  width: 52.5%;
  height: 25%; /* Maintain aspect ratio */
  background-image: url("../../assets/LENSss.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 4; /* Ensure it's on top of all other elements */
  transform: translate(-50%, -50%);
}
/* .parveen {
  position: absolute;
  top: 39.1%;
  left: 70.25%;
  width: 55.25%;
  height: 25.25%; 
  background-image: url("../../assets/parveen.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2; 
  transform: translate(-50%, -50%);
} */
.black-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Black with 50% transparency */
  z-index: 0; /* Place it above the scrolling background */
  pointer-events: none; /* Allow interaction with elements below */
  overflow: hidden; /* Prevent overflowing content */
}
.duplicate {
  left: 100%; /* Start below the first image */
  background-color: #e5fff1;
}

@keyframes scroll-loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Move the image up by one full height */
  }
}

/* arrow */

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 7s linear forwards;
  animation-iteration-count: 1;
  animation-delay: 1s;
  /* animation: dash 5s ease-in-out forwards; Animation duration and easing */

}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.dashed {
  stroke-dasharray: 7, 12;
}
#arrow {
  animation: arrow 7s linear forwards;
  font-size: 1vw;
  /* opacity: 0; */
}
@keyframes arrow {
  to {
    /* opacity: 100; */
  }
}

.graph__wrapper{
  position: absolute;
  top: -8vw;
  left: 28.5vw;
}