/* scroll bar  */
::-webkit-scrollbar {
  width: 0.2vw; /* For vertical scrollbar */
  height: 10px; /* For horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the track */
}

::-webkit-scrollbar-thumb {
  background: #1f487c; /* Color of the thumb */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when hovered */
}

/* .luxury-card */

.luxury-card {
  background: linear-gradient(
    to bottom right,
    #f6b642,
    #fff279,
    #ffdf71,
    #fbe67b
  );
}
/* navbar words color change */
@keyframes colorChange {
  0% {
    color: black;
  }
  50% {
    color: #1f487c;
  }
  100% {
    color: black;
  }
}

.clip-trapezoid {
  /* clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%); */
  background: linear-gradient(90deg, #1f487c 0%, #3070c0 100%);
}

::-webkit-scrollbar {
  width: 0.2vw; /* For vertical scrollbar */
  height: 10px; /* For horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the track */
}

::-webkit-scrollbar-thumb {
  background: #1f487c; /* Color of the thumb */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when hovered */
}

/* styles.css (or Pagination.module.css if using CSS Modules) */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  border-color: #7ab300;
}

.pagination .page-item .page-link {
  color: #1f4b7f;
  border: 0.1vw solid #1f4b7f;
  background-color: white;
  height: 0.7vw;
  width: 0.5vw;
  border-radius: 0.2vw;
}

.pagination .page-item.active .page-link {
  background-color: #1f4b7f;
  /* border-color: #00bfff; */
  color: white;
}

.page-link {
  cursor: pointer;
  color: #043e13;
  border: 1px solid #dee2e6;
  padding: 0.5vw 0.8vw;
  margin-left: -1px;
  height: 0.7vw;
  background-color: #fff;

  &:hover {
    z-index: 2;
    color: #7ab300;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }
}

.page-link.active {
  background-color: red;
  border-color: red;
  color: white;
}

/* -------------------------hidingScrollbar----------------------------------------- */

/* Hide scrollbar appearance for specific elements */
.scrollbar-hide::-webkit-scrollbar {
  width: 0; /* Hides the scrollbar */
  height: 0; /* Hides the horizontal scrollbar */
}

.scrollbar-hide::-webkit-scrollbar-track {
  background: transparent; /* Track will be transparent */
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background: transparent; /* Thumb will be transparent */
}

:where(.css-dev-only-do-not-override-5wsri9).ant-drawer .ant-drawer-body {
  padding: 0;
}
:where(.css-dev-only-do-not-override-5wsri9).ant-collapse
  .ant-collapse-content
  > .ant-collapse-content-box {
  padding: 0;
}
/* -------------------------------------------------Drawer---------------------------------------- */
:where(.css-dev-only-do-not-override-5wsri9).ant-drawer .ant-drawer-body {
  flex: 1;
  min-width: 0;
  min-height: 0;
  padding: 0 !important;
  overflow: auto;
}

:where(.css-5wsri9).ant-drawer .ant-drawer-body {
  padding: 0;
}

/* ---------------------------------------------------------- SelectComponent-------------------------------------------- */

/* Overriding inline styles for selected item */
.custom-web-select .ant-select-selection-item {
  font-size: 1.2vw !important;
}

/* Custom dropdown arrow size and margin */

.custom-web-select .ant-select-arrow {
  position: absolute;
  top: 1.5vw;
  right: 1vw;
  font-size: 1vw;
  color: "#A9A9A9";
}

/* Remove border and box shadow for the selector */
.custom-web-select .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
}

/* Ensure outer container has no border and box shadow */
.custom-web-select .ant-select {
  border: none !important;
  box-shadow: none !important;
}

/* Remove border and box shadow when focused */
.custom-web-select .ant-select-focused .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
}

:where(.custom-web-select).ant-select-outlined:not(.ant-select-customize-input)
  .ant-select-selector {
  border: 1px solid #d9d9d9;
}

:where(.custom-web-select).ant-select-single .ant-select-selector {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style: none;
  font-family: inherit;
  display: flex;
}

:where(.custom-web-select).ant-select-outlined.ant-select-disabled:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  background: rgba(0, 0, 0, 0) !important;
  color: rgba(0, 0, 0, 0.25) !important;
  border-radius: 2vw;
}

:where(.custom-web-select).ant-select-single.ant-select-show-arrow
  .ant-select-selection-item,
:where(
    .css-dev-only-do-not-override-5wsri9
  ).ant-select-single.ant-select-show-arrow
  .ant-select-selection-placeholder {
  padding-inline-end: 0px !important;
}
.custom-web-select .ant-select-selector {
  background-color: #f0f0f0; /* Change background color if desired */
  border-radius: 0.2vw 0vw 0vw 0.2vw; /* You can modify the border radius */
}
/* ------MobileSelect---- */

/* ------MobileSelect---- */

.custom-mobile-select .ant-select-arrow {
  position: absolute;
  top: 5vw;
  right: 1.5vw;
  font-size: 3vw;
  color: "black";
}

:where(.custom-mobile-select).ant-select-outlined.ant-select-disabled:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  background: rgba(0, 0, 0, 0) !important;
  color: rgba(0, 0, 0, 0.25) !important;
  border-radius: 2vw;
}

/* Remove border and box shadow for the selector */
.custom-mobile-select .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
}

/* Ensure outer container has no border and box shadow */
.custom-mobile-select .ant-select {
  border: none !important;
  box-shadow: none !important;
}

:where(.custom-mobile-select).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border: 1px solid #d9d9d9;
  background: #ffffff;
  border-radius: 2vw 0vw 0vw 2vw;
}

/* Remove border and box shadow when focused */
.custom-mobile-select .ant-select-focused .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
}

:where(.custom-mobile-select).ant-select-single .ant-select-selector {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 4vw;
  /* color: #1f487c; */
  list-style: none;
  font-family: inherit;
  display: flex;
  background-color: red;
}

:where(.custom-mobile-select).ant-select-single.ant-select-show-arrow
  .ant-select-selection-item,
:where(
    .css-dev-only-do-not-override-5wsri9
  ).ant-select-single.ant-select-show-arrow
  .ant-select-selection-placeholder {
  padding-inline-end: 0px !important;
}
.custom-mobile-select .ant-select-selector {
  background-color: #f0f0f0; /* Change background color if desired */
  border-radius: 1.75vw 0vw 0vw 1.75vw; /* You can modify the border radius */
}

/* Ensure outer container has no border and box shadow */
.custom-mobile-select .ant-select {
  border: none !important;
  box-shadow: none !important;
}

/* -------------------------------RatingFeedBack------------------------------------------- */

/* Overriding inline styles for selected item */
.custom-rating-select .ant-select-selection-item {
  font-size: 1.2vw !important;
}

/* Custom dropdown arrow size and margin */

.custom-rating-select .ant-select-arrow {
  position: absolute;
  top: 1.5vw;
  right: 1vw;
  font-size: 1vw;
  color: "#A9A9A9";
}

/* Remove border and box shadow for the selector */
.custom-rating-select .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
}

/* Ensure outer container has no border and box shadow */
.custom-rating-select .ant-select {
  border: none !important;
  box-shadow: none !important;
}

/* Remove border and box shadow when focused */
.custom-rating-select .ant-select-focused .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
}

:where(.custom-rating-select).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border: 1px solid #d9d9d9;
  background: #ffffff;
  border-radius: 4vw;
}

:where(.custom-rating-select).ant-select-single .ant-select-selector {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 104px;
  list-style: none;
  font-family: inherit;
  display: flex;
}

:where(.custom-rating-select).ant-select-single.ant-select-show-arrow
  .ant-select-selection-item,
:where(
    .css-dev-only-do-not-override-5wsri9
  ).ant-select-single.ant-select-show-arrow
  .ant-select-selection-placeholder {
  padding-inline-end: 1vw !important;
}

.custom-rate .ant-rate-star {
  transition: color 0.0001s ease;
}

.custom-rate .ant-rate-star:nth-of-type(1):hover,
.custom-rate .ant-rate-star:nth-of-type(1).ant-rate-star-full {
  /* color: #FF2A2A;  */
  color: #ff0000;
}

.custom-rate .ant-rate-star:nth-of-type(2):hover,
.custom-rate .ant-rate-star:nth-of-type(2).ant-rate-star-full {
  /* color: #FF4A22;  */
  color: #ffa500;
}

.custom-rate .ant-rate-star:nth-of-type(3):hover,
.custom-rate .ant-rate-star:nth-of-type(3).ant-rate-star-full {
  /* color: #F3880A;  */
  color: #ffa500;
}

.custom-rate .ant-rate-star:nth-of-type(4):hover,
.custom-rate .ant-rate-star:nth-of-type(4).ant-rate-star-full {
  /* color: #FFA800;  */
  color: #008000;
}

.custom-rate .ant-rate-star:nth-of-type(5):hover,
.custom-rate .ant-rate-star:nth-of-type(5).ant-rate-star-full {
  /* color: #FFDD2B;  */
  color: #008000;
}
/* Example CSS to adjust the clickable hit area of each star */
.custom-rate .ant-rate-star {
  padding: 0 !important; /* Remove any extra space around the star */
}

.custom-rate .ant-rate-star-first,
.ant-rate-star-second,
.ant-rate-star-third,
.ant-rate-star-fourth,
.ant-rate-star-fifth {
  margin: 0 !important; /* Adjust margins to reduce the space around the star */
}

:where(.home-rate).ant-rate .ant-rate-star-first,
:where(.home-rate).ant-rate .ant-rate-star-second {
  color: #ffffff;
  transition: all 0.2s;
  user-select: none;
}

.hovcontent {
  display: none;
  transition: all 2s;
}

.hovsvg:hover + .hovcontent {
  display: block;
}
.ant-table-tbody > tr > th,
.ant-table-tbody > tr > td {
  border-bottom: 1px solid #1f4b7f; /* Row bottom border */
  padding: 0; /* Adjust padding as needed */
}
.ant-table-tbody .ant-table-cell {
  padding: 0.1vw !important; /* Remove default padding for body cells */
  border-right: 1px solid #1f4b7f; /* Add right border to body cells */
}

.ant-table {
  border-radius: 1vw; /* Rounded corners */
  overflow: hidden; /* Ensure rounded corners are visible */
  border: 0.1vw solid #1f4b7f; /* Border around the table */
}
