/* scroll bar  */
::-webkit-scrollbar {
  width: 0.2vw; /* For vertical scrollbar */
  height: 10px; /* For horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the track */
}

::-webkit-scrollbar-thumb {
  background: #1f487c; /* Color of the thumb */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when hovered */
}

/* .luxury-card */

.luxury-card {
  background: linear-gradient(
    to bottom right,
    #f6b642,
    #fff279,
    #ffdf71,
    #fbe67b
  );
}
/* navbar words color change */
@keyframes colorChange {
  0% {
    color: black;
  }
  50% {
    color: #1f487c;
  }
  100% {
    color: black;
  }
}

.clip-trapezoid {
  /* clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%); */
  background: linear-gradient(90deg, #1f487c 0%, #3070c0 100%);
}

::-webkit-scrollbar {
  width: 0.2vw; /* For vertical scrollbar */
  height: 10px; /* For horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the track */
}

::-webkit-scrollbar-thumb {
  background: #1f487c; /* Color of the thumb */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when hovered */
}

/* styles.css (or Pagination.module.css if using CSS Modules) */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  border-color: #7ab300;
}

.pagination .page-item .page-link {
  color: #1f4b7f;
  border: 0.1vw solid #1f4b7f;
  background-color: white;
  height: 0.7vw;
  width: 0.5vw;
  border-radius: 0.2vw;
}

.pagination .page-item.active .page-link {
  background-color: #1f4b7f;
  /* border-color: #00bfff; */
  color: white;
}

.page-link {
  cursor: pointer;
  color: #043e13;
  border: 1px solid #dee2e6;
  padding: 0.5vw 0.8vw;
  margin-left: -1px;
  height: 0.7vw;
  background-color: #fff;

  &:hover {
    z-index: 2;
    color: #7ab300;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }
}

.page-link.active {
  background-color: red;
  border-color: red;
  color: white;
}

/* -------------------------hidingScrollbar----------------------------------------- */

/* Hide scrollbar appearance for specific elements */
.scrollbar-hide::-webkit-scrollbar {
  width: 0; /* Hides the scrollbar */
  height: 0; /* Hides the horizontal scrollbar */
}

.scrollbar-hide::-webkit-scrollbar-track {
  background: transparent; /* Track will be transparent */
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background: transparent; /* Thumb will be transparent */
}

:where(.css-dev-only-do-not-override-5wsri9).ant-drawer .ant-drawer-body {
  padding: 0;
}
:where(.css-dev-only-do-not-override-5wsri9).ant-collapse
  .ant-collapse-content
  > .ant-collapse-content-box {
  padding: 0;
}
/* -------------------------------------------------Drawer---------------------------------------- */
:where(.css-dev-only-do-not-override-5wsri9).ant-drawer .ant-drawer-body {
  flex: 1;
  min-width: 0;
  min-height: 0;
  padding: 0 !important;
  overflow: auto;
}




:where(.css-5wsri9).ant-drawer .ant-drawer-body {
  padding: 0;
}